<h1>Lista de Productos</h1>
<ul>
  {{#each productos}}
    <li>
      <strong>{{title}}</strong>
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
      <p>Stock: {{stock}}</p>
    </li>
  {{/each}}
</ul>
<link rel="stylesheet" type="text/css" href="/css/home.css">